@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

    @{
        ViewData["Title"] = "Application Roles";

    }

    <h2>View Roles</h2>
    <p>
        <a class="btn-primary rounded" asp-controller="AppRoles" asp-action="Create">Create Roles</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model=>model.Id)</th>
            
            <th> @Html.DisplayNameFor(model=>model.Name)</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem=>item.Id)</td>
                <td>@Html.DisplayFor(ModelItem=>item.Name)</td>
            </tr>
        }
        </tbody>
    </table>
