@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="headingcontainer">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    </div>
    <div class="text-center">
    <p class="text-danger ">You do not have access to this resource.</p>
    </div>
</header>
